asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
colorama==0.4.6
dj-database-url==3.1.2
Django==6.0.7
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
idna==3.18
mysqlclient==2.2.8
packaging==26.2
pillow==12.3.0
psycopg2-binary==2.9.12
PyJWT==2.13.0
qrcode==8.2
razorpay==2.0.1
reportlab==5.0.0
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
razorpay==1.4.2